<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${sectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap-theme.min.css">
    <script src="../static/jquery/jquery-1.12.4.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/common/css/demo.css">

</head>
<body>
<!--导航栏-->
<div th:replace="~{navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="media"
                 th:each="question:${pagination.datas}"
                 th:if="${section.equals('questions')}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object avatar-img" th:src="@{${question.user.avatarUrl}}" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <a th:href="@{'/question/'+${question.id}}">
                        <h4 class="media-heading" th:text="${question.title}"></h4>
                    </a>
                    <!--<h5 th:text="${question.description}"></h5>-->
                    <span th:text="${question.user.name}"></span><span class="text-color-999"> 发起了问题 • </span>
                    <span th:text="${question.commentCount}"></span><span>个回复 •</span>
                    <span th:text="${question.viewCount}"></span><span>次浏览 • </span>
                    <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm:ss')}"></span> •
                    <a class="question-edit" th:href="'/publish/'+${question.id}">
                        <span class="glyphicon glyphicon-pencil"></span>编辑
                    </a>
                </div>
            </div>
            <div class="media"
                 th:each="notification:${pagination.datas}"
                 th:if="${section.equals('replies')}">
                <div class="media-body">
                    <p class="media-heading">
                        <a href="#">
                            [(${notification.notiferName})]
                        </a>
                        <span class="text-color-999">[(${notification.typeName})]</span>
                        <a th:href="@{'/notification/'+${notification.id}}">
                            <span class="text-color-999">[(${notification.outerTitle})]</span>
                        </a>
                        <span class="label label-warning" th:if="${notification.status==0}">未读</span>
                    </p>
                </div>
            </div>
            <!--分页start-->
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-lg pull-right">
                    <!--第一页-->
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{'/profile/'+${section}(page=1)}">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <!--上一页-->
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{'/profile/'+${section}(page=${(pagination.pageNum)-1})}">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <!--当前页-->
                    <li th:each="page:${pagination.pages}" th:class="${pagination.pageNum==page}?'active':''">
                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                    </li>
                    <!--下一页-->
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{'/profile/'+${section}(page=${(pagination.pageNum)+1})}">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <!--最后一页-->
                    <li th:if="${pagination.showLastPage}">
                        <a th:href="@{'/profile/'+${section}(page=${pagination.totalPageNum})}">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>

                </ul>
            </nav>
            <!--分页end-->
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="list-group profile-left-list">
                <a href="/profile/questions" class="list-group-item"
                   th:classappend="${section=='questions'}?'active':''">我的问题</a>
                <a href="/profile/replies" class="list-group-item"
                   th:classappend="${section=='replies'}?'active':''">最新回复
                    <span class="badge">[(${session.unreadCount})]</span>
                </a>

            </div>
        </div>
    </div>
</div>
<div th:replace="~{footer :: foot}"></div>
</body>
</html>