body {
    background-color: #e6e6e6;
}

.main {
    margin: 50px;
    background-color: #fff;
}

.btn-publish {
    margin-bottom: 10px;
}

.avatar-img {
    width: 40px;
    height: 40px;
}

.avatar-img-user {
    padding-left: 55px;
    padding-top: 12px;
}

.comment-user-div {
    padding: 0;
    margin-bottom: 15px;
}

.comment-btn {
    margin: 10px 0;
}

.profile-left-list {
    margin-top: 20px;
}

.question-info {
    color: #999;
}

.question-edit {
    cursor: pointer;
    color: #155faa;
    text-decoration: none;
}

.error-main {
    margin: 0 200px 0 200px;
    padding: 50px;
}
