body {
    background-color: #e6e6e6;
}

.main {
    margin: 50px;
    background-color: #fff;
}

.btn-publish {
    margin-bottom: 10px;
}

.avatar-img {
    width: 40px;
    height: 40px;
}

.avatar-img-user {
    padding-left: 55px;
    padding-top: 12px;
}

.comment-user-div {
    padding: 0;
    margin-bottom: 15px;
}

.comment-btn {
    margin: 10px 0;
}

.profile-left-list {
    margin-top: 20px;
}

.question-info {
    color: #999;
}

.question-edit {
    cursor: pointer;
    color: #155faa;
    text-decoration: none;
}

.question-tag {
    margin-left: 10px;
    font-size: 13px;
}

.question-relation a {
    cursor: pointer;
    color: #155faa;
    text-decoration: none;
}

.question-left-img img {
    width: 100%;
}

.error-main {
    margin: 0 200px 0 200px;
    padding: 50px;
}

.like-icon {
    color: #666;
}

.comment-icon {
    padding-left: 10px;
    color: #666;
}

.comment-list {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.like-icon:hover, .comment-icon:hover {
    color: #499ef3;
    cursor: pointer;
}

.comment-icon-active {
    color: #499ef3;
}

.second-comment-div {
    margin: 10px 0;
    padding: 10px 0;
    border: 1px solid #e6e6e6;
}

#publish-tag-tab {
    display: none;
    margin-top: 10px;
}